.button
    margin-top: 4px
    width: 153px
    height: 32px
    color: #FFFFFF
    font-weight: 500
    font-size: 12px
    text-transform: uppercase
    background: $main-color
    border-radius: 5px
    border: none
    &_main
        margin-top: 65px
        width: 300px
        height: 50px
        font-size: 16px
    &_submit
        margin-top: 0
        width: 300px
        height: 55px
        font-size: 16px